/* Style général de la page */
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  /* Conteneur principal avec la classe register */
  .register {
    max-width: 80%;
    margin: auto;
    min-height: 300px;
  }
  
  /* Titre de la page */
  .register h2 {
    text-align: center;
    color: #3498db;
    margin: 20px;
  }
  
  /* Messages d'erreur ou de succès */
  .register div[style] {
    text-align: center;
    font-weight: bold;
  }
  
  /* Conteneur des champs de saisie */
  .register div > div {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  /* Label des champs de saisie */
  .register label {
    width: 100px;
    margin-right: 10px;
    margin: 20px;
  }
  
  /* Champs de saisie */
  .register input[type=text], .register input[type=password] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 20px;
  }
  
  /* Bouton d'inscription */
  .register button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    margin: 20px;
  }
  .register p {
    text-align: center;
    margin-top: 20px;
  }
  /* Style du lien */
.register a {
  color: #0000FF;
  text-decoration: none;
}

  /* Effet au survol du bouton d'inscription */
  .register button:hover {
    opacity: 0.8;
  }
  